body {
    font-family: Arial, sans-serif;
    margin: 0;
}

[x-cloak] { display: none !important; }

.page-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

h1 {
    color: red;
    text-align: center;
}

button {
    border-radius: 100px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
}

.movie-container {
    background-color: blanchedalmond;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid darkblue;
    border-radius: 8px;
    width: 30em
}

.watchlist-btn {
    background-color: #c2fbd7;
    border-radius: 100px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;

}

.watchlist-btn--clear {
    background-color: red;
    border-radius: 100px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;

}

.movie-page-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid darkblue;
    border-radius: 8px;
    width: 30em
}